<a href="https://colab.research.google.com/github/aruna09/Predict-Future-Sales/blob/master/PredictFutureSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
import os

path = "/content/drive/My Drive/predict-future-sales"
os.chdir(path)

**File descriptions**
1. sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.
2. test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.
3. sample_submission.csv - a sample submission file in the correct format.
4. items.csv - supplemental information about the items/products.
5. item_categories.csv  - supplemental information about the items categories.
6. shops.csv- supplemental information about the shops.

**Data fields**
1. ID - an Id that represents a (Shop, Item) tuple within the test set
2. shop_id - unique identifier of a shop
3. item_id - unique identifier of a product
4. item_category_id - unique identifier of item category
5. item_cnt_day - number of products sold. You are predicting a monthly amount of this measure
6. item_price - current price of an item
7. date - date in format dd/mm/yyyy
8. date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
9. item_name - name of item
10. shop_name - name of shop
11. item_category_name - name of item category

In [ ]:
os.listdir()

['item_categories.csv',
 'items.csv',
 'sales_train.csv',
 'test.csv',
 'sample_submission.csv',
 'shops.csv']

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn 

train = pd.read_csv("sales_train.csv")
test = pd.read_csv("test.csv")
item_cat = pd.read_csv("item_categories.csv")
items = pd.read_csv("items.csv")
shops = pd.read_csv("shops.csv")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# train.columns
# item_cat.columns
# items.columns
shops.columns

Index(['shop_name', 'shop_id'], dtype='object')

In [ ]:
new_df = train[['date_block_num','shop_id', 'item_id', 'item_price', 'item_cnt_day']].copy()

In [ ]:
grouped_df = pd.DataFrame()
grouped_df = new_df.groupby(['date_block_num','shop_id', 'item_id']).sum()
grouped_df = grouped_df.reset_index()
grouped_df

         date_block_num  shop_id  item_id  item_price  item_cnt_day
0                     0        0       32       884.0           6.0
1                     0        0       33      1041.0           3.0
2                     0        0       35       247.0           1.0
3                     0        0       43       221.0           1.0
4                     0        0       51       257.0           2.0
...                 ...      ...      ...         ...           ...
1609119              33       59    22087       357.0           6.0
1609120              33       59    22088       238.0           2.0
1609121              33       59    22091       179.0           1.0
1609122              33       59    22100       629.0           1.0
1609123              33       59    22102      1250.0           1.0

[1609124 rows x 5 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X = grouped_df[['date_block_num', 'shop_id', 'item_id', 'item_cnt_day']]
y = grouped_df['item_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.041792228832696954

In [ ]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=3)
# pca.fit_transform(X_train)

array([[-8.73019464e+03,  1.13461123e+01, -5.53924087e+00],
       [-7.05619459e+03,  6.98226300e+00,  1.83869834e+01],
       [ 3.62880675e+03, -1.21507484e+01,  9.10828732e+00],
       ...,
       [-4.86519510e+03,  1.87272168e+01, -1.22567499e+01],
       [ 4.90780699e+03, -1.38125114e+01, -3.91119194e+00],
       [ 7.77380760e+03, -2.24325849e+01, -1.39777547e+01]])